@font-face {
  font-family: 'TheYearofTheCamel';
  src: url('https://github.com/haithem580f/fonts/raw/main/TheYearofTheCamel-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
